* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-image: url("../img/bg.jpg");
    /* small and repeat*/
    background-size: 500px;
    background-repeat: repeat;
}

main {
    margin: 0 auto;
    max-width: 1024px;
}

.header {
    background-color: navy;
    text-align: center;
}

.header h1 {
    color: white;
    padding: 20px;
}

.drz-hubu {
    display: flex;
    flex-direction: row;
}

.drz-hubu p {
    flex: 1;
    font-size: 1.2em;
    padding: 10px;
    background-color: lightgrey;
    border: 1px solid gray;
}

.our-projects h2 {
    background-color: darkcyan;
    color: white;
    text-align: center;
    padding: 20px 0;
    border: 5px black solid;
}

.karticka {
    background-color: lightgrey;
    border: 1px solid gray;
    padding: 10px 0;
}

.karticka img {
    display: block;
    margin: 0 auto;
    aspect-ratio: 16/9;
    height: 200px;
    object-fit: cover;
}

.karticka h3 {
    text-align: center;
    padding: 10px;
}

.descriotpúion {
    width: 75%;
    margin: 0 auto;
}